
@{
    Layout = "~/Views/Shared/_Home.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="jumbotron text-center">
        <h2>Welcome to GrillRoastBaste</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus.</p>
    </div>
    
    <div class="row">
        <div class="col-sm-6 panel-success text-center">
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum eros a porta vehicula.
                 Ut ornare est eget venenatis consequat. Curabitur posuere lobortis lobortis.
                 Fusce efficitur libero nec nibh fringilla, non fringilla odio egestas. 
                 Quisque ut bibendum quam. Praesent accumsan ante eu sem sagittis fermentum. 
                 Integer consequat elit ac sem venenatis tempus. Etiam ac dignissim odio.
                 Aliquam suscipit lacinia nulla, sed lobortis dui accumsan ut. 
                 Etiam aliquet lorem mattis, euismod augue vel, vehicula ipsum.
                 Vestibulum ut iaculis ligula. Duis sagittis leo non purus pellentesque ultrices
                 . Vivamus porta mattis mattis.

                 Aliquam aliquet mi eget leo suscipit, ut faucibus nisl ullamcorper. 
                 Vivamus turpis mauris, aliquam quis odio ut, commodo interdum erat. 
                 Curabitur quis gravida enim. Etiam eget consectetur ex, ac vestibulum eros.
                 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                 Pellentesque sit amet augue pretium, mattis felis vel, rhoncus ex. Cras non venenatis elit.
                 Aenean lobortis dictum suscipit. Donec convallis eros sed metus sodales ullamcorper.
             </p>
        </div>
        <div class="col-sm-6 panel-default text-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum eros a porta vehicula.
                Ut ornare est eget venenatis consequat. Curabitur posuere lobortis lobortis.
                Fusce efficitur libero nec nibh fringilla, non fringilla odio egestas.
                Quisque ut bibendum quam. Praesent accumsan ante eu sem sagittis fermentum.
                Integer consequat elit ac sem venenatis tempus. Etiam ac dignissim odio.
                Aliquam suscipit lacinia nulla, sed lobortis dui accumsan ut.
                Etiam aliquet lorem mattis, euismod augue vel, vehicula ipsum.
                Vestibulum ut iaculis ligula. Duis sagittis leo non purus pellentesque ultrices
                . Vivamus porta mattis mattis.

                Aliquam aliquet mi eget leo suscipit, ut faucibus nisl ullamcorper.
                Vivamus turpis mauris, aliquam quis odio ut, commodo interdum erat.
                Curabitur quis gravida enim. Etiam eget consectetur ex, ac vestibulum eros.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Pellentesque sit amet augue pretium, mattis felis vel, rhoncus ex. Cras non venenatis elit.
                Aenean lobortis dictum suscipit. Donec convallis eros sed metus sodales ullamcorper.
            </p>
        </div>
    </div>

</body>
</html>
